body {
    font-family: 'Roboto', sans-serif;
}

/*BARRA DE NAVEGAÇÃO*/

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 535px;
    height: 5vh;
    background-color: #F36422;
}

.logoNav img {
    width: 8vw;
    margin-top: 7px;
}

.navLinks {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}

.navLinks li {
    display: inline;
    padding: 1em;
    transition: 0.2s;

}

.navLinks li a:hover {
    color: #1B1D21;
}

.logoNav {
    margin-top: 5px;
}

.moedas {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgMoedas{
    width: 1vw;
    margin-top: 7px;
}

.textMoedas {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}


/*BARRA NAVEGAÇÃO TAMANHOS*/

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1366px) {}
@media (min-width: 1367px) {}

/*----------------------------------------------------*/body {
    font-family: 'Roboto', sans-serif;
}

/*BARRA DE NAVEGAÇÃO*/

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 535px;
    height: 5vh;
    background-color: #F36422;
}

.logoNav img {
    width: 8vw;
    margin-top: 7px;
}

.navLinks {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}

.navLinks li {
    display: inline;
    padding: 1em;
    transition: 0.2s;

}

.navLinks li a:hover {
    color: #1B1D21;
}

.logoNav {
    margin-top: 5px;
}

.moedas {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgMoedas{
    width: 1vw;
    margin-top: 7px;
}

.textMoedas {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}


/*BARRA NAVEGAÇÃO TAMANHOS*/

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1366px) {}
@media (min-width: 1367px) {}

/*----------------------------------------------------*/body {
    font-family: 'Roboto', sans-serif;
}

/*BARRA DE NAVEGAÇÃO*/

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 535px;
    height: 5vh;
    background-color: #F36422;
}

.logoNav img {
    width: 8vw;
    margin-top: 7px;
}

.navLinks {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}

.navLinks li {
    display: inline;
    padding: 1em;
    transition: 0.2s;

}

.navLinks li a:hover {
    color: #1B1D21;
}

.logoNav {
    margin-top: 5px;
}

.moedas {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgMoedas{
    width: 1vw;
    margin-top: 7px;
}

.textMoedas {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}


/*BARRA NAVEGAÇÃO TAMANHOS*/

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1366px) {}
@media (min-width: 1367px) {}

/*----------------------------------------------------*/body {
    font-family: 'Roboto', sans-serif;
}

/*BARRA DE NAVEGAÇÃO*/

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 535px;
    height: 5vh;
    background-color: #F36422;
}

.logoNav img {
    width: 8vw;
    margin-top: 7px;
}

.navLinks {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}

.navLinks li {
    display: inline;
    padding: 1em;
    transition: 0.2s;

}

.navLinks li a:hover {
    color: #1B1D21;
}

.logoNav {
    margin-top: 5px;
}

.moedas {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgMoedas{
    width: 1vw;
    margin-top: 7px;
}

.textMoedas {
    margin-top: 5px;
    color: #ffffff;
    list-style: none;
    font-weight: 500;
}


/*BARRA NAVEGAÇÃO TAMANHOS*/

@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1366px) {}
@media (min-width: 1367px) {}

/*----------------------------------------------------*/

.carrinho img{
    width: 1.5vw;
    height: 1.5vw;

}

.carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    transition: all 0.2s;
}

.carrinho:hover{
    background-color: #ffffff48;
    border-radius: 100px;
    cursor: pointer;
}